@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as mx;

.success-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4000;
  width: 90%;
  background-color: #fefefe;
  text-align: center;
  line-height: 1.8;
  padding: 2.5rem;
  @extend %borderRadius;
  @include mx.mq(770px) {
    width: 50%;
    max-width: 500px;
  }

  > * {
    margin: 1.5rem 0;
  }

  h3 {
    font-size: 2.2rem;
  }

  a {
    display: inline-block;
    cursor: pointer;
  }
}